[submodule "karabiner-manager"]
	path = karabiner-manager
	url = git@github.com:6eniu5/karabiner-manager.git
[submodule "skills"]
	path = skills
	url = git@github.com:6eniu5/skills.git
[submodule "obsidian-habit-tracker"]
	path = obsidian-habit-tracker
	url = git@github.com:6eniu5/obsidian-habit-tracker.git
